/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    padding: 0 20px;
}

.card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.category-input,
.upload-button {
    margin-top: 15px;
    background-color: lightgray;
}

.upload-button {
    margin-top: 10px;
} */